html,
body {
    font-family: RoboSlab;
    font-size: 100%;
    line-height: 1;
    -moz-text-size-adjust: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

body {
    background-image: url("/img/background.png");
}

a {
    color: black;
    text-decoration: underline;
}

a:visited {
    color: black;
    text-decoration: underline;
}

.small {
    -webkit-transform: scale(.7);
    -ms-transform: scale(.7);
    transform: scale(.7);
}

.link:hover {
    cursor: pointer;
}
/*********************
       Font Face
*********************/

@font-face {
    font-family: RoboSlab;
    src: url("/font/RobotoSlab-Regular.ttf");
}
/**********************
        Header
**********************/

#headContainer {
    min-width: 100%;
    height: auto;
    background-color: #cecece;
}

#head {
    width: 78em;
    height: 5em;
    margin: 0 auto;
    position: relative;
}

#headLeft {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    left: 0;
    width: auto;
}

#head h2 {
    margin-left: 1.5em;
    display: inline-block;
}

#headRight {
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    right: 0;
    width: auto;
}

#headRight a:first-of-type {
    position: absolute;
    display: inline-block;
    margin: 1.4em -6em;;
}

#headRight img {
    width: 6em;
    margin-right: 2.5em;
}
/**********************
        Main
**********************/
/*photo sphere icon placement*/

div[icon~="classroom"] .sphere {
    height: 15px;
    position: absolute;
    top: -7px;
    left: 18px;
}

div[icon^="entrance"] .sphere {
    height: 15px;
    position: absolute;
    top: -9px;
    left: 15px;
}

div[icon="library"] .sphere {
    height: 15px;
    position: absolute;
    top: -6px;
    left: 16px;
}

div[icon="canteen"] .sphere {
    height: 15px;
    position: absolute;
    top: -10px;
    left: 14px;
}

div[icon="auditorium"] .sphere {
    height: 20px;
    position: absolute;
    top: -8px;
    left: 28px;
}

#photoSphere {
    -webkit-transition: fill .3s ease-out;
    transition: fill .3s ease-out;
}

#mainContainer {
    width: 78em;
    height: auto;
    margin: 0 auto;
}

#mainContent {
    background-image: url("/img/icons/map.svg");
    background-size: contain;
    background-repeat: no-repeat;
    position: relative;
    height: 42em;
    width: 80%;
    float: right;
}

#iframe {
    position: absolute;
    z-index: 3;
    display: none;
}

#closeButton {
    display: none;
    -webkit-transition: all .3s cubic-bezier(.3, .9, .79, -0.09);
    transition: all .3s cubic-bezier(.3, .9, .79, -0.09);
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 1;
    z-index: 5;
}

#closeButton:hover {
    -webkit-transform: rotate(180deg) scale(3);
    -ms-transform: rotate(180deg) scale(3);
    transform: rotate(180deg) scale(3);
}

#mainContent div {
    position: absolute;
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

#mainContent div:hover:not(#closeButton):not([icon~="office"]) {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
    z-index: 2;
}

#mainContent div:hover #photoSphere {
    fill: red;
}

#mainContent img {
    height: 100%;
}

#mainContent a {
    color: #fa2525;
}

#mainContent div[icon~="office"] img {
    -webkit-transition: -webkit-transform .3s ease-out;
    transition: transform .3s ease-out;
}

#mainContent div[icon~="office"]:hover {
    z-index: 2;
}

#mainContent div[icon~="office"]:hover img {
    -webkit-transform: scale(1.5);
    -ms-transform: scale(1.5);
    transform: scale(1.5);
}

#mainContent div:hover:not[icon~="office"] p {
    color: #ff0000;
}

#mainContent img:first-child {
    height: 1.5em;
}

#mainContent div[icon~="classroom"] p {
    -webkit-transition: color .5s ease-out;
    transition: color .5s ease-out;
    font-size: 1em;
    font-weight: 600;
    margin-left: .7em;
    margin-top: -.8em;
}

#mainContent div[icon~="office"] p {
    margin-top: .3em;
    margin-left: -.6em;
    font-size: 0em;
    -webkit-transition: font-size .3s ease-out, color .5s ease-out;
    transition: font-size .3s ease-out, color .5s ease-out;
}
/*#mainContent div[icon~="office"] p:first-of-type {
    margin-top: 0em;
}*/

#mainContent div[icon~="office"]:hover p {
    font-size: 1em;
    -webkit-transition-delay: .1s;
    transition-delay: .1s;
    background-color: white;
}
/*****************
    Main Info
*****************/

#mainInfo {
    float: left;
    height: 42em;
    width: 20%;
    overflow: auto;
    border-right: 1px solid black;
}

#info {
    margin-left: 1em;
}

#info li {
    margin-top: .5em;
    display: table;
}

#info li div {
    display: inline-block;
    height: 2.5em;
    width: 2.5em;
    vertical-align: middle;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

#info li span {
    font-size: 1em;
    padding-left: 1em;
    display: table-cell;
    vertical-align: middle;
}
/*********************
        Footer
*********************/

#footerContainer {
    position: fixed;
    bottom: 0px;
    min-width: 100%;
    height: auto;
    background-color: #cecece;
}

#footerContainer footer {
    width: 78em;
    margin: 0 auto;
}

#copy {
    padding: 4em;
    text-align: center;
}

#copy p:first-of-type {
    font-size: .6em;
}
/*********************
 Media query <1265px
        Tablet
*********************/

@media (max-width: 1265px) {
    #head {
        width: 62.4em;
    }
    #mainContainer {
        height: auto;
        width: 62.4em;
    }
    #mainContent {
        float: none;
        width: 100%;
        height: 42em;
    }
    #mainInfo {
        float: none;
        width: 100%;
        height: auto;
        border: none;
    }
    #info {
        margin-left: 0;
        text-align: center;
        columns: 3;
        -webkit-columns: 3;
        -moz-columns: 3;
    }
    #footerContainer {
        position: relative;
    }
    #footerContainer footer {
        width: 62.4em;
    }
}